name: Build

on:
  push:
    branches: main
  pull_request:
    branches: '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version-bounds: [['3.0.0', '4'], ['4.0.0', '5']]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Install dependencies
        run: |
          python -m pip install --upgrade setuptools
          python -m pip install -U "jupyterlab>=${{ matrix.version-bounds[0] }},<${{ matrix.version-bounds[1] }}"
          jlpm install

      - name: Lint the extension
        run: |
          jlpm run lint:check

      - name: Build the extension
        run: |
          jlpm run build
          pip install -ve .

      - name: Check the extension
        run: |
          jupyter server extension list 2>&1 | grep -ie "climb_onyx_gui.*OK"
          jupyter labextension list 2>&1 | grep -ie "climb-onyx-gui-extension.*OK"
          python -m jupyterlab.browser_check
